[submodule "codeql"]
	path = codeql
	url = https://github.com/github/codeql.git
	branch = main
[submodule "codeql-field"]
	path = codeql-field
	url = https://github.com/advanced-security/codeql-queries.git
