[submodule "codeql"]
	path = codeql
	url = https://github.com/github/codeql.git
	branch = v1.26.0
[submodule "codeql-go"]
	path = codeql-go
	url = https://github.com/github/codeql-go.git
	branch = v1.26.0
