[submodule "codeql"]
	path = codeql
	url = https://github.com/github/codeql.git
	branch = main
[submodule "codeql-community"]
	path = codeql-community
	url = git@github.com:GitHubSecurityLab/CodeQL-Community-Packs.git
